<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>  
    <div id="template">
        <div v-if="ok">ff</div>
        <div v-else>
            <h1 v-if="f"></h1>
            <h2 v-else></h2>
            <h4></h4>
        </div>
        <h3></h3>
    </div>
    <hr>
    <div id="codes"></div>
</body>

</html>
